#app-mount {
    .root-1gCeng {
        background-color: var(--background-primary);
        box-shadow: 0 0 0 1px var(--background-secondary-alt), 0 2px 10px 0 var(--background-tertiary);

        .footer-2gL1pp {
            background-color: var(--background-primary);
        }

        .message-2qRu38 {
            background-color: var(--background-secondary-alt);
            box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0,0,0,.2);
        }
    }
}