#app-mount .keyboardShortcutsModal-3piNz7 {
    background-color: var(--background-primary);

    .modalTitle-37O4n6 {
        background-color: var(--background-secondary);
        padding-bottom: 5px;
        margin-bottom: -5px;
    }
    .modalSubtitle-1Pj5nv {
        background-color: var(--background-secondary);
        border-color: var(--background-secondary-alt);
    }

    .keybindGroupDivider-1t_8zX {
        background-color: var(--background-secondary-alt);
    }
}