.channelTextArea-rNsIhG {
    .scrollableContainer-2NUZem.webkit-HjD9Er { /* Rounded Chatbar */
        border-radius: 25px;
    }

    .container-2fRDfG {  /* Replying */
        border-radius: 25px;
        margin-bottom: 2px;
    }
}