[aria-label="WOAH THERE. WAY TOO SPICY"] div form .footer-2gL1pp { /* u disgusting spammer */
    margin-top: 10px;
}

.guilds-1SWlCJ { /* Guilds List Positioning Fix */
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-3bRxxu,
.container-1D34oG,
.applicationStore-1pNvnv  /* Members List + Activity Fix */ {
    padding-right: 0;
}