.sidebar-2K8pFh { /* Sidebar Separation + Rounding */
    border-radius: 15px !important;
    margin-top: 7px;
    margin-bottom: 7px;
}
.chat-3bRxxu,
.container-1D34oG,
.container-3Mxszk,
.pageWrapper-1PgVDX,
.applicationStore-1pNvnv { /* Container Separation + Rounding */
    position: relative;
    border-radius: 15px !important;
    margin: 7px 14px 7px 0;
    left: 7px;
}

/* Separate Memberlist */
.chat-3bRxxu {
    background-color: var(--background-tertiary);

    .title-3qD0b-.container-1r6BKw.themed-ANHk51 {
        border-bottom-right-radius: 15px;

        .toolbar-1t6TWx [aria-label="Add Friends to DM"]::after {
            content: "";
            position: absolute;
            z-index: -1;
            background-color: var(--background-secondary);
            left: 274px;
            height: 12px;
            width: 15px;
        }
    }

    .content-yTz4x3 .chatContent-a9vAAp {
        background-color: var(--background-primary);
        border-bottom-right-radius: 15px;

        &::before {
            content: "";
            position: absolute;
            border-top-left-radius: 15px;
            box-shadow: 0 -25px 0 0 var(--background-primary);
            top: 0px;
            right: -30px;
            height: 50px;
            width: 30px;
        }
    }
    
    .membersWrap-2h-GB4 .members-1998pB, 
    .searchResultsWrap-3-pOjs {
        margin-top: 5px;
        margin-left: 5px;
        border-radius: 15px;
    }
}
