.titleBar-AC4pGV { /* Topbar Change */
    background: var(--background-secondary-alt);
    margin-top: 0px;
}
.winButton-iRh8-Z {
    margin-top: 2px;
}

.toolbar-1t6TWx { /* Tooltip Background */
    background-color: var(--background-secondary-alt);
    border-radius: 12px;
    padding: 6px;
}

.container-1r6BKw.themed-ANHk51 { /* Titlebar Recolor */
    background-color: var(--background-secondary);

    .children-19S4PO::after {
        display: none;
    }
}
