@keyframes bgAni {
    0% { background-position: -500px -650px; }
    25% { background-position: 300px -500px; }
    50% { background-position: -500px -650px; }
    75% { background-position: 300px -500px; }
    100% { background-position: -500px -650px; }
}