#app-mount .menu-3sdvDG {
    .item-1tOPte {
        &.focused-3afm-j, &:active {
            background-color: rgb(152, 100, 163, 0.25);
            border-bottom: solid 1px var(--background-accent);
            
            &.colorDanger-2qLCe1 {
                background-color: rgb(240, 71, 71, 0.25);
                border-color: rgb(240, 71, 71);
            }

            &.colorPremium-p4p7qO {
                background-color: rgb(255, 115, 250, 0.25);
                border-color: rgb(255, 115, 250);
            }
        }
    }
}