#app-mount .menu-3sdvDG {
    background-color: transparent;
    border-radius: var(--border-radius);
    box-shadow: none;

    .submenuPaddingContainer-fiOCHc {
        padding: 0 0;
    }

    .item-1tOPte {
        background-color: var(--background-floating);
        border-radius: var(--border-radius);
        padding: 8px;

            &.focused-3afm-j, &:active {
            background-color: var(--background-accent);
        }
    }

    .separator-2I32lJ {
        display: none;
    }

    .wrapper-3_530D {
        padding: 0;

        .customItem-a8hq58 {
            div {
                border-radius: var(--border-radius);
            }
        }
    }
}