.imageWrapper-2p5ogY.embedWrapper-lXpS3L,
.embed-IeVjo6,
.wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI,
.embedHorizontal-WknQ2-,
.embedSpotify-tvxDCr,
.attachment-33OFj0,
.wrapperAudio-1jDe0Q,
.invite-18yqGF,
.spoilerContainer-331r0R {
    transition: var(--transition);
    
    &:hover {
        box-shadow: var(--box-shadow);
        transform: scale(1.02);
    }
}