.activity-11LB_k,
.activityProfile-2bJRaP { /* Activity Cards */
    --box-shadow: 3px 3px 3px;
    border-radius: 4px; 
    padding: 8px;
    margin: 0 9px 10px 6px; 
}

.userPopout-3XzG_A { /* Poput Headers */
    & > .headerPlaying-j0WQBV {
        background: var(--background-tertiary);

        & > .activity-11LB_k {
            background: #7289DA; 
            box-shadow: var(--box-shadow) #4E5D94;
        }
    }

    & > .headerSpotify-zpWxgT {
        background: var(--background-tertiary);

        & > .activity-11LB_k {
            background: #1DB954; 
            box-shadow: var(--box-shadow) #218F4F;
        }
    }

    & > .headerStreaming-2FjmGz {
        background: var(--background-tertiary);

        & > .activity-11LB_k {
            background: #9059F6; 
            box-shadow: var(--box-shadow) #694EA8;
        }
    }
}

.topSectionPlaying-1J5E4n { /* Playing Header */
    background: var(--background-tertiary);

    & > .headerFill-adLl4x > .activityProfile-2bJRaP {
        background: #7289DA; 
        box-shadow: var(--box-shadow) #4E5D94;
    }
}
.topSectionSpotify-1lI0-P { /* Spotify Header */ 
    background: var(--background-tertiary);

    & > .headerFill-adLl4x > .activityProfile-2bJRaP { 
        background: #1DB954; 
        box-shadow: var(--box-shadow) #218F4F;
    }
}
.topSectionStreaming-1Tpf5X { /* Streaming Header */
    background: var(--background-tertiary);

    & > .headerFill-adLl4x > .activityProfile-2bJRaP {
        background: #9059F6; 
        box-shadow: var(--box-shadow) #694EA8;
    }
}


/* Button Fixes */ 
.headerInfo-30uryT + .actionButton-3W1xZa {
    background-color: #43B581;
    color: #fff;

    &:hover {
        background-color: #3CA374;
        color: #fff;
    }
}


/* White Badge Fixes */ 
.profileBadge-2niAfJ {
    &.profileBadgePartner-j6Lwhr { background-image: url(/assets/6203964d9d25c394a573fd4f6be36d97.svg); }
    &.profileBadgeHypesquad-12E2P6 { background-image: url(/assets/6c73f47daf179ffade99f501bfc5101b.svg); }
    &.profileBadgeHypeSquadOnlineHouse1-3rBtjf { background-image: url(/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg); }
    &.profileBadgeHypeSquadOnlineHouse2-2oU04B { background-image: url(/assets/48cf0556d93901c8cb16317be2436523.svg); }
    &.profileBadgeHypeSquadOnlineHouse3-1DoJkv { background-image: url(/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg); }
    &.profileBadgeBugHunterLevel1-dbEzVz { background-image: url(/assets/f61b8981e92feead854f52e5a1ba14f0.svg); }
    &.profileBadgeBugHunterLevel2-3TUciC { background-image: url(/assets/9286332d6e947c91fa91569efce431b0.svg); }
    &.profileBadgeVerifiedDeveloper-195KfD { background-image: url(/assets/45cd06af582dcd3c6b79370b4e3630de.svg); }
    &.profileBadgeEarlySupporter-2ng_jL { background-image: url(/assets/23e59d799436a73c024819f84ea0b627.svg); }
    &.profileBadgePremium-1KDZYC { background-image: url(/assets/386884eecd36164487505ddfbac35a9d.svg); }
}
