.activity-11LB_k,
.activityProfile-2bJRaP { /* Activity Cards */
    --box-shadow: 3px 3px 0;
    border-radius: 4px; 
    padding: 8px;
    margin: 0 9px 10px 6px; 
}

.userPopout-3XzG_A { /* Poput Headers */
    & > .headerPlaying-j0WQBV {
        background: var(--background-tertiary);

        & > .activity-11LB_k {
            background: rgb(168, 113, 182); 
            box-shadow: var(--box-shadow) rgb(94, 62, 102);
        }
    }

    & > .headerSpotify-zpWxgT {
        background: var(--background-tertiary);

        & > .activity-11LB_k {
            background: #1DB954; 
            box-shadow: var(--box-shadow) #1db954ad;
        }
    }

    & > .headerStreaming-2FjmGz {
        background: var(--background-tertiary);

        & > .activity-11LB_k {
            background: #9059F6; 
            box-shadow: var(--box-shadow) #694EA8;
        }
    }
}

.topSectionPlaying-1J5E4n { /* Playing Header */
    background: var(--background-tertiary);

    & > .headerFill-adLl4x > .activityProfile-2bJRaP {
        background: rgb(168, 113, 182); 
        box-shadow: var(--box-shadow) rgb(94, 62, 102);
    }
}
.topSectionSpotify-1lI0-P { /* Spotify Header */ 
    background: var(--background-tertiary);

    & > .headerFill-adLl4x > .activityProfile-2bJRaP { 
        background: #1DB954; 
        box-shadow: var(--box-shadow) #1db954ad;
    }
}
.topSectionStreaming-1Tpf5X { /* Streaming Header */
    background: var(--background-tertiary);

    & > .headerFill-adLl4x > .activityProfile-2bJRaP {
        background: #9059F6; 
        box-shadow: var(--box-shadow) #694EA8;
    }
}


/* Button Fixes */ 
.headerInfo-30uryT + .actionButton-3W1xZa {
    background-color: #43B581;
    color: #fff;

    &:hover {
        background-color: #3CA374;
        color: #fff;
    }
}
