:root {
    --background-mentioned-side: rgb(168, 113, 182);
    --background-mentioned: rgba(93, 64, 101, 0.2);
    --background-mentioned-hover: rgba(93, 64, 101, 0.35);
    --replying-side: rgb(2, 183, 87);
    --replying-default: rgba(2, 183, 87, 0.05);
    --replying-hovered: rgba(2, 183, 87, 0.12);
    --local-bot-side: rgb(240, 71, 71); 
    --local-bot-default: rgba(240, 71, 71, 0.05);
    --local-bot-hover: rgba(240, 71, 71, 0.12);
 }
 
 /* Pings. */
 .mentioned-xhSam7:not(.replying-1x3H0T) {
    background: var(--background-mentioned);
 }
 .mentioned-xhSam7:not(.replying-1x3H0T)::before {
    background: var(--background-mentioned-side);
 }
 .mentioned-xhSam7:not(.replying-1x3H0T):hover {
    background: var(--background-mentioned-hover);
 }
 
 /* Replying. */
 .replying-1x3H0T {
    background: var(--replying-default) !important;
 }
 .replying-1x3H0T::before {
    background: var(--replying-side);
 }
 .replying-1x3H0T:hover {
    background: var(--replying-hovered) !important;
 }
 
 /* Clyde Notifications. */
 .wrapper-2a6GCs.ephemeral-1PsL1r:not(.replying-1x3H0T) {
    background-color: var(--local-bot-default);
 }
 .wrapper-2a6GCs.ephemeral-1PsL1r:not(.replying-1x3H0T)::before {
    background-color: var(--local-bot-side);
 }
 .wrapper-2a6GCs.ephemeral-1PsL1r:not(.replying-1x3H0T):hover {
    background-color: var(--local-bot-hover);
 }