$background-mentioned-side: rgb(168, 113, 182);
$background-mentioned: rgba(93, 64, 101, 0.2);
$background-mentioned-hover: rgba(93, 64, 101, 0.35);
$replying-side: rgb(2, 183, 87);
$replying-default: rgba(2, 183, 87, 0.05);
$replying-hovered: rgba(2, 183, 87, 0.12);
$local-bot-side: rgb(240, 71, 71); 
$local-bot-default: rgba(240, 71, 71, 0.05);
$local-bot-hover: rgba(240, 71, 71, 0.12);


/* Pings. */
.mentioned-xhSam7:not(.replying-1x3H0T) {
   background: $background-mentioned;

   &:hover, &.selected-2P5D_Z {
      background: $background-mentioned-hover !important;
   }

   &::before {
      background: $background-mentioned-side;
   }
}

 
/* Replying. */
.replying-1x3H0T {
   background: $replying-default !important; 

   &:hover {
      background: $replying-hovered !important;
   }

   &::before {
      background: $replying-side;
   }
}


/* Clyde Notifications. */
.wrapper-2a6GCs.ephemeral-1PsL1r:not(.replying-1x3H0T) {
   background-color: $local-bot-default;

   &:hover {
      background-color: $local-bot-hover;
   }

   &::before {
      background-color: $local-bot-side;
   }
}
