/* # Blocked Message(s) Background */
.blockedMessageText-1fRjos::before {
    content: "";
    background: var(--background-secondary);
    border-radius: 10px;
    padding: 3px 0 3px 377px;
    margin: 0 -310px 0 -64px;
}
  
.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div::before {
    padding-bottom: 0;
    border-radius: 10px 10px 0 0;
}
.blockedIcon-IrnkVA > path {
    fill: #F04747;
}
  
/* Message Expanded */
.groupStart-23k01U.expanded-13sWhZ {
    background: var(--background-primary);
    border-radius: 0px !important;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 {
    background: var(--background-secondary);
    padding: 8px 0 8px 72px;
    margin: -5px 4px 0 8px;
    border-radius: 0px 10px 10px 10px;
}
.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div:hover::before {
    background: var(--background-secondary);
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6:hover,
.blockedMessageText-1fRjos:hover:before {
    background: var(--background-tertiary);
}
  
/* Positioning Fixes */
.blockedIcon-IrnkVA {
    margin-top: -2px;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div,
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div > .avatar-1BDn8e {
    margin-left: -8px;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > .buttonContainer-DHceWr {
    margin-right: -3px;
}