/* Modals */
.userPopout-3XzG_A,
.inner-1ilYF7 > .flex-1xMQg5.root-SR8cQa { /* User Modals */
    border-radius: 15px !important;
}

.uploadModal-2ifh8j { /* Upload Modal */
    border-radius: 15px;
}
.uploadModal-2ifh8j > .footer-3mqk7D {
    border-radius: 0 0 15px 15px;
}


/* Misc */
.button-38aScr.lookFilled-1Gx00P,
.button-38aScr.lookInverted-2D7oAl { /* Buttons */
    border-radius: 25px;
}
