[aria-label="Online"]::after {
    content: 'ONLINE';
    font-weight: bold;
    padding-left: 5px;
    color: #43B581;
}
[aria-label="Do Not Disturb"]::after {
    content: 'DO NOT DISTURB';
    font-weight: bold;
    padding-left: 5px;
    color: #F04747;
}
[aria-label="Idle"]::after {
    content: 'IDLE';
    font-weight: bold;
    padding-left: 5px;
    color: #FFB740;
}
[aria-label="Offline"]::after {
    content: 'OFFLINE/INVISIBLE';
    font-weight: bold;
    padding-left: 5px;
    color: #747F8D;
}