#app-mount {
    // Messages (ty pavol for base)
    .cozyMessage-3V1Y8y {
        .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
            background-color: rgba(152, 100, 163, 0.2);
            display: block;
            max-width: fit-content;
            margin: 0;
            padding: 5px 10px ;
            border-radius: 3px;
            overflow: visible;
        }
    }

    // New Messages
    .newMessagesBar-265mhP {
        background-color: var(--background-accent);
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    // New Messages Separator
    .isUnread-3Ef-o9 {
        background-color: var(--background-accent);
        border-color: var(--background-accent);
        .content-1o0f9g {
            color: var(--text-normal);
        }
        .unreadPill-2HyYtt {
            background-color: var(--background-accent);
            .unreadPillCap-3_K2q2 .unreadPillCapStroke-7rkHbg {
                fill: var(--background-accent);
                color: var(--background-accent);
            }
        }
    }

    // Message Separation
    .message-2qnXI6 .buttons-cl5qTG .wrapper-2aW0bm{
        background-color: var(--background-secondary-alt);
        filter: drop-shadow(0 0 8px var(--background-tertiary));
    }
    .message-2qnXI6.groupStart-23k01U {
        &::after {
            content: "";
            position: absolute;
            background-color: var(--background-modifier-accent);
            width: 97.8%;
            height: 1px;
            top: 0;
            left: 16px;
        }
        &:not(.compact-T3H92H):after {
            top: -9px;
        }
    }
    .divider-3_HH5L {
        + .message-2qnXI6.groupStart-23k01U::after {
            content: none;
        }
    }
    .container-3RCQyg {
        border: none;
    }

    // Reactive Text Input
    //// idea from Material (https://github.com/Kings-Discord-Stuff/material/)
    .form-2fGMdU {
        .channelTextArea-rNsIhG .scrollableContainer-2NUZem {
            border-radius: var(--border-radius);
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            border-bottom: solid 2px var(--background-tertiary); 
            transition: all 500ms;
        }

        &:focus-within .channelTextArea-rNsIhG .scrollableContainer-2NUZem {
            border-color: var(--background-accent);
        }

        &:hover .channelTextArea-rNsIhG .scrollableContainer-2NUZem:not(:focus-within) {
            border-color: #57395e;
            transition: 250ms;
        }
    }
}