#app-mount .container-3XJ8ns {
    background-color: var(--background-secondary);
    border-color: var(--background-teritary);

    .item-2J2GlB:hover {
        background-color: var(--background-modifier-accent);
    }
}