#app-mount .searchResultsWrap-3-pOjs {
    .searchHeader-2XoQg7 {
        background-color: var(--background-secondary-alt);
    }

    #search-results {
        box-shadow: none;

        .searchResultGroup-1DphGG .searchResult-9tQ1uo {
            border-radius: var(--border-radius);
        }
    }
}