#app-mount {
    #search-results {
        background-color: var(--background-secondary);
        box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    
        .focused-2bY0OD {
            background-color: var(--background-secondary);
        }
    }

    .searchFilter-2ESiM3,
    .searchAnswer-3Dz2-q {
        background-color: var(--background-secondary-alt);
    }

    .option-96V44q.selected-rZcOL- {
        background-color: var(--background-secondary-alt);
    }
    .option-96V44q::after {
        background: transparent;
    }
    .option-96V44q.selected-rZcOL-::after {
        background: linear-gradient(90deg,rgba(0, 0, 0, 0),var(--background-tertiary) 50%);
    }
    .option-96V44q.selected-rZcOL-::before {
        background: linear-gradient(90deg,rgba(0, 0, 0, 0),var(--background-tertiary) 80%);
        padding-left: 10px;
    }

    .react-datepicker, /* Date Picker */
    .react-datepicker__header {
        background-color: var(--background-secondary);
    }
    .react-datepicker__day:not(:hover):not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month) {
        background-color: var(--background-secondary-alt);
    }
    .react-datepicker__day {
        border-color: var(--background-tertiary);
    }
    .react-datepicker__day--disabled,
    .react-datepicker__day--outside-month {
        background-color: var(--background-primary);
    }
}