#app-mount [aria-label="USER_SETTINGS"] {
    // Billing
    .codeRedemptionRedirect-1wVR4b {
        background-color: var(--deprecated-card-bg);
        border-color: var(--background-tertiary);
    }
    .verticalFit-waKLYN {
        background-color: var(--background-secondary);
        .bottomDivider-1K9Gao{
            border-bottom-color: var(--background-modifier-accent);
        }
        .payment-xT17Mq {
            background-color: var(--background-secondary);
        }
        .verticalFit-waKLYN {
            background-color: var(--background-secondary);
        }
    }
    // Voice & Video
    .notches-1sAcEM.gray-3_LNYR {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%2336263A'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E")
    }
    .previewOverlay-2O7_KC {
        background-color: var(--background-secondary);
        border-color: var(--background-tertiary);
    }
    // Game Activity
    .game-1ipmAa {
        box-shadow: 0 1px 0 0 var(--background-modifier-accent);
    }
    // Overlay
    .notificationSettings-1NQKPR .wrapper-3jrx9n {
        border-color: var(--background-accent);

        .option-n0icdO {
            &.selected-mKYnfr,
            &:hover {
                background-color: var(--background-accent);
            }
        }
    }

    // Cards
    .card-FDVird:before {
        background-color: var(--background-secondary);
        border-color: var(--background-tertiary);
    }
}