$blurple-replace: rgb(168, 113, 182);

/* Buttons */
.colorBrand-3pXr91:not(.buttonColor-7qQbGO) { /* Color Brand */
    &.lookFilled-1Gx00P {
        background-color: $blurple-replace !important;
    }

    &.lookGhost-2Fn_0- {
        color: $blurple-replace;
        background-color: rgba($blurple-replace, 0.08);
    }

    &.lookLink-9FtZy-,
    &.lookInverted-2D7oAl {
        color: $blurple-replace;
    }

    &.lookOutlined-3sRXeN {
        color: $blurple-replace;
        border-color: $blurple-replace;
    }
}
[id*="invite-people"] {
    color: $blurple-replace;

    &:hover, &:active {
        color: #fff
    }
}


/* Checkboxes */ 
.checkbox-1ix_J3.checked-3_4uQ9 { 
    &.round-2jCFai,
    &[style="width: 24px; height: 24px; border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] { 
        background-color: $blurple-replace !important; 
        border-color: $blurple-replace !important; 
    }

    &[style="width: 24px; height: 24px; border-color: rgb(114, 137, 218);"] {
        border-color: $blurple-replace !important;

        svg path {
            fill: $blurple-replace;
        }
    }
}
.radioIconForeground-XwlXQN { 
    fill: $blurple-replace; 
}


/* Screenshare */
#app-mount .sourceThumbnail-27dolk { 
    &.selected-1nOkyc, &:hover { 
        box-shadow: inset 0 0 0 2px $blurple-replace; 
    }
}
#app-mount .selectorButton-EEUWed {
    &.selectorButtonSelected-t5V9On, &:hover { 
        background-color: $blurple-replace; 
    }
}


/* GIF Picker */ 
#app-mount .categoryFadeBlurple-1j72_A { 
    background-color: rgba($blurple-replace, 0.8);
}
#app-mount .result-3w1ZcL {
    background-color: $blurple-replace !important;

    &:hover::after, &.focused-1En8bG::after {
        box-shadow: inset 0 0 0 2px $blurple-replace, inset 0 0 0 3px #2f3136; 
    }
}


/* User Settings */
.notificationSettings-1NQKPR div .wrapper-3jrx9n { /* -> Overlay -> Overlay Notifications */ 
    border-color: $blurple-replace;

    .selected-mKYnfr.option-n0icdO {
        background-color: $blurple-replace;
    }

    .option-n0icdO:hover {
        background-color: $blurple-replace;
    }
}
.gameVerifiedIcon-2dGGa5 .flowerStar-1GeTsn path { /* -> Game Activity -> Added Games (Verified Games) */
    fill: $blurple-replace; 
}


/* Reactions */
.reactions-12N0jA div .reactionMe-wv5HKu {
    background-color: rgba($blurple-replace, 0.3);

    .reactionCount-2mvXRV {
        color: $blurple-replace;
    }
}


/* Mentions */
.mentioned-xhSam7 .contents-2mQqc9 .markup-2BOw-j .mention.wrapper-3WhCwL:hover {
    color: $blurple-replace;
}
.mention.wrapper-3WhCwL {
    background-color: rgba($blurple-replace, 0.1);
    color: $blurple-replace;

    &:hover {
        background-color: $blurple-replace;
        color: #fff;
    }
}


/* Misc */ 
.input-cIJ7To.focused-1mmYsC, 
.input-cIJ7To:focus { /* Borders */
    border-color: $blurple-replace; 
}

.slider-1PF9SW .bar-2Qqk5Z .barFill-23-gu- { /* Sliderbars */ 
    background-color: $blurple-replace; 
}

.botTag-3W9SuW { /* Bot Tags */ 
    background-color: $blurple-replace; 
}

.newMessagesBar-265mhP { /* New Messages */
    background-color: $blurple-replace; 
}
