$blurple-replace: rgb(168, 113, 182);


/* Buttons */
.colorBrand-3pXr91:not(.buttonColor-7qQbGO) { /* Color Brand */
    &.lookFilled-1Gx00P {
        background-color: $blurple-replace !important;
    }

    &.lookGhost-2Fn_0- {
        color: $blurple-replace;
        background-color: rgba(168, 113, 182, 0.15);
    }

    &.lookLink-9FtZy- {
        color: $blurple-replace;
    }

    &.lookOutlined-3sRXeN {
        color: $blurple-replace;
        border-color: $blurple-replace;
    }
}
[id*="invite-people"] {
    color: $blurple-replace;

    &:hover, &:active {
        color: #fff
    }
}


/* Checkboxes */ 
.checkbox-1ix_J3.checked-3_4uQ9 { 
    &[style*="background-color: rgb(114, 137, 218);"] { 
        background-color: $blurple-replace !important; 
        border-color: $blurple-replace !important; 
    }

    &[style*="border-color: rgb(114, 137, 218);"] {
        border-color: $blurple-replace !important;

        & > svg > path {
            fill: $blurple-replace;
        }
    }
}
.radioIconForeground-XwlXQN { fill: $blurple-replace; }


/* Dropdown Modals */
.item-1tOPte:not(.colorDanger-2qLCe1):not(#user-context-user-volume) {
    &.focused-3afm-j, &:active {
        background: $blurple-replace;
    }
}


/* Screenshare */
#app-mount .sourceThumbnail-27dolk { 
    &.selected-1nOkyc, &:hover { box-shadow: inset 0 0 0 2px $blurple-replace; }
}
#app-mount .selectorButton-EEUWed {
    &.selectorButtonSelected-t5V9On, &:hover { background-color: $blurple-replace; }
}


/* GIF Picker */ 
#app-mount .categoryFadeBlurple-1j72_A { background-color: rgba(168, 113, 182, 0.8); }
#app-mount .result-3w1ZcL {
    background-color: $blurple-replace !important;

    &:hover::after, &.focused-1En8bG::after {
        box-shadow: inset 0 0 0 2px $blurple-replace, inset 0 0 0 3px #2f3136; 
    }
}


/* User Settings */
.notificationSettings-1NQKPR > div > .wrapper-3jrx9n { /* -> Overlay -> Overlay Notifications */ 
    border-color: $blurple-replace;

    & > .selected-mKYnfr.option-n0icdO {
        background-color: $blurple-replace;
    }

    & > .option-n0icdO:hover {
        background-color: $blurple-replace;
    }
}
.gameVerifiedIcon-2dGGa5 > .flowerStar-1GeTsn > path { fill: $blurple-replace; } /* -> Game Activity -> Added Games (Verified Games) */


/* Misc */ 
.slider-1PF9SW > .bar-2Qqk5Z > .barFill-23-gu- { background-color: $blurple-replace; } /* SLiderbars */ 
.footer-1fjuF6 > .inputWrapper-31_8H8 > .inputDefault-_djjkz:focus { border-color: $blurple-replace; } /* Message @User */ 
