/* Separation & Rounding */
.sidebar-2K8pFh { /* Sidebar Separation + Rounding */
    border-radius: 15px !important;
    margin-top: 7px;
    margin-bottom: 7px;
}
.chat-3bRxxu,
.container-1D34oG,
.container-3Mxszk,
.pageWrapper-1PgVDX,
.applicationStore-1pNvnv { /* Container Separation + Rounding */
    position: relative;
    border-radius: 15px !important;
    margin: 7px 14px 7px 0;
    left: 7px;
}


/* Topbar & Chat Changes */
.titleBar-AC4pGV { /* Topbar Change */
    background: var(--background-secondary-alt);
    margin-top: 0px;
}
.winButton-iRh8-Z {
    margin-top: 2px;
}

.toolbar-1t6TWx { /* Tooltip Background */
    background-color: var(--background-secondary-alt);
    border-radius: 12px;
    padding: 6px;
}


/* Chatbar */
.channelTextArea-rNsIhG {
    .scrollableContainer-2NUZem.webkit-HjD9Er { /* Rounded Chatbar */
        border-radius: 25px;
    }

    .container-2fRDfG {  /* Replying */
        border-radius: 25px;
        margin-bottom: 2px;
    }
}


/* Separate Memberslist */
.chat-3bRxxu {
    background-color: var(--background-tertiary);

    .title-3qD0b-.container-1r6BKw.themed-ANHk51 {
        border-bottom-right-radius: 15px;
        background-color: var(--background-secondary);

        .children-19S4PO::after {
            display: none;
        }

        .toolbar-1t6TWx [aria-label="Add Friends to DM"]::after {
            content: "";
            position: absolute;
            z-index: -1;
            background-color: var(--background-secondary);
            left: 274px;
            height: 12px;
            width: 15px;
        }
    }

    .content-yTz4x3 .chatContent-a9vAAp {
        background-color: var(--background-primary);
        border-bottom-right-radius: 15px;

        &::before {
            content: "";
            position: absolute;
            border-top-left-radius: 15px;
            box-shadow: 0 -25px 0 0 var(--background-primary);
            top: 0px;
            right: -30px;
            height: 50px;
            width: 30px;
        }
    }
    
    .membersWrap-2h-GB4 .members-1998pB, 
    .searchResultsWrap-3-pOjs {
        margin-top: 5px;
        margin-left: 5px;
        border-radius: 15px;
    }
}


/* Misc Changes and Fixes */
[aria-label="WOAH THERE. WAY TOO SPICY"] div form .footer-2gL1pp { /* u disgusting spammer */
    margin-top: 10px;
}

.guilds-1SWlCJ { /* Guilds List Positioning Fix */
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-3bRxxu,
.container-1D34oG,
.applicationStore-1pNvnv  /* Members List + Activity Fix */ {
    padding-right: 0;
}
