.theme-dark, 
.theme-light, 
:root {
    // Base Colors
    --background-primary: #36263A;
    --background-secondary: #281D30;
    --background-secondary-alt: #211828;
    --background-tertiary: #1a141f;
    --background-accent: #9864a3;
    --background-floating: #19131f;
    --background-modifier-hover: rgba(255,255,255,0.01);	
    --background-modifier-active: rgba(255,255,255,0.04);
    --background-modifier-selected: rgba(170, 150, 176, 0.06);	
    --background-modifier-accent: rgba(170, 150, 176, 0.15);
    --channeltextarea-background: #281D30;
    --focus-primary: rgb(168, 113, 182);
    --deprecated-card-bg: rgba(0, 0, 0, 0.2);
    --deprecated-card-editable-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border-disabled: var(--background-tertiary);
    --activity-card-background: var(--background-primary);
    --channels-default: #a996af;
    --text-muted: #a996af;
    --text-normal: #fdf1ff;
    --interactive-normal: #c8c8c8;
    --interactive-hover: #dcddde;
    --interactive-active: var(--text-normal);
    --interactive-muted: #7f7183;
    --header-secondary: #c9c9c9;
    --toast-background: var(--background-primary);
    --toast-header: var(--background-tertiary);
    --toast-contents: var(--background-secondary);
    --toast-box-shadow: rgba(0, 0, 0, .2);
    --toast-border: var(--background-tertiary);

    // Separation 
    --border-radius: 5px;
    --separation-padding: 7px;

    // Better Channel Indicators
    --unread-badge: rgba(168, 113, 182, 0.55);
    --unread-bg: rgba(168, 113, 182, 0.045);
    --selected-badge: rgb(168, 113, 182);
    --selected-bg: rgba(168, 113, 182, 0.15);
    --selected-bg-hover: rgba(168, 113, 182, 0.23);
    --hovered-bg: rgba(168, 113, 182, 0.09);
    --bg-rounding: 0 5px 5px 0;
    --border-info: 4px solid;

    // Revamped User Area
    --popout-color: var(--background-primary);

    // Pop
    --transition: cubic-bezier(0, 0.75, 0, 1.75) 0.3s;
    --box-shadow: 0 0 15px rgb(10, 10, 10, 0.7);
}