.theme-dark, 
.theme-light, 
:root {
    // Base Colors
    --background-primary: #36263A !important;
    --background-secondary: #281D30 !important;
    --background-secondary-alt: #211828 !important;
    --background-tertiary: #1a141f !important;
    --background-accent: #9864a3 !important;
    --background-floating: #19131f !important;
    --background-modifier-hover: rgba(255,255,255,0.01) !important;	
    --background-modifier-active: rgba(255,255,255,0.04) !important;
    --background-modifier-selected: rgba(170, 150, 176, 0.06) !important;	
    --background-modifier-accent: rgba(170, 150, 176, 0.15) !important;
    --channeltextarea-background: #281D30 !important;
    --focus-primary: rgb(168, 113, 182) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: #a996af !important;
    --text-muted: #a996af !important;
    --text-normal: #fdf1ff !important;
    --interactive-normal: #c8c8c8 !important;
    --interactive-hover: #dcddde !important;
    --interactive-active: var(--text-normal) !important;
    --interactive-muted: #7f7183 !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;

    // Separation 
    --border-radius: 5px;
    --separation-padding: 7px;

    // Better Channel Indicators
    --unread-badge: rgba(168, 113, 182, 0.55);
    --unread-bg: rgba(168, 113, 182, 0.045);
    --selected-badge: rgb(168, 113, 182);
    --selected-bg: rgba(168, 113, 182, 0.15);
    --selected-bg-hover: rgba(168, 113, 182, 0.23);
    --hovered-bg: rgba(168, 113, 182, 0.09);
    --bg-rounding: 0 5px 5px 0;
    --border-info: 4px solid;

    // Revamped User Area
    --popout-color: var(--background-primary);

    // Pop
    --transition: cubic-bezier(0, 0.75, 0, 1.75) 0.3s;
    --box-shadow: 0 0 15px rgb(10, 10, 10, 0.7);
}