#app-mount .perksModal-fSYqOq {
    background-color: var(--background-primary);

    .tierMarkerContainer-2BmgqV {
        .tierMarkerBackground-3q29am {
            background-color: var(--background-primary);
        }
        .tierMarkerInProgress-24LMzJ {
            background-color: var(--background-secondary-alt) !important;
        }
    }
    .barBackground-2EEiLw {
        background-color: var(--background-secondary-alt);
    }

    .tier-12tKuZ {
        .tierHeaderLocked-1s2JJz {
            background-color: var(--background-secondary-alt);
        }
        .tierBody-16Chc9 {
            background-color: var(--background-secondary);
        }
    }

    .perks-3OsGy8 li {
        background-color: var(--background-secondary);
    }
}