#app-mount .listing-2nUQ4d {
    background-color: var(--background-primary);

    .purchaseUnit-2lxci3 .bodySection-jqkkIP {
        background-color: var(--background-secondary-alt);
        border-color: var(--background-secondary);
    }

    .purchaseUnitOperatingSystem-cnbJPz g path {
        fill: var(--background-primary);
    }
}